<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2015-2017 The Regents of the University of California
  All rights reserved.
  
  This file is part of Spoofer.
  
  Spoofer is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Spoofer is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Spoofer.  If not, see <http://www.gnu.org/licenses/>.
-->

<!-- Mac OSX launchd configuration for spoofer-scheduler -->

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.caida.spoofer-scheduler</string>
	<key>Program</key>
	<string>APPDIR/Spoofer.app/Contents/MacOS/spoofer-scheduler</string>
	<key>ProgramArguments</key>
	<array>
		<string>spoofer-scheduler</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>WorkingDirectory</key>
	<string>/tmp</string>
</dict>
</plist>
